*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}


.active {
    border-bottom: 2px solid rgb(126, 110, 89);
  }
  